﻿@model TaskManager.Models.Task
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

    <div class="row">
        <div class="col-md-6">
            <h2>@Localizer["Delete_Task_Request"]</h2>
            @using (Html.BeginForm("Delete", "Home", new { taskId = Model.Id }, FormMethod.Post, null, new { @class = "well" }))
            {
                <div class="form-group">
                    <label>@Localizer["Name"]</label>
                    @Html.DisplayFor(m => m.Name)
                </div>
                <div class="form-group">
                    <label>@Localizer["Description"]</label>
                    @Html.DisplayFor(m => m.Description)
                </div>
                <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
            }
        </div>
    </div>