﻿@model TaskManager.ViewModels.TaskEditViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
    <div class="row">
        <div class="col-md-6">
            <h2>@Localizer["Edit_Task"] "@Model.Name"</h2>
            @using (Html.BeginForm("Edit", "Home", new { taskId = Model.Id }))
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>@Localizer["Name"]</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = @Localizer["Input_Name"].Value })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    <label>@Localizer["Description"]</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = @Localizer["Input_Description"].Value, rows = "4" })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
                <div class="form-group">
                    <label>@Localizer["Performers_List"]</label>
                    @Html.TextBoxFor(m => m.Performers, new { @class = "form-control", placeholder = @Localizer["Input_Performers"].Value })
                    @Html.ValidationMessageFor(m => m.Performers)
                </div>
                <div class="form-group">
                    <label>@Localizer["Planned_Time"]</label>
                        <div class="row">
                            <div class="col-md-4">
                                <span>@Localizer["Days"]</span>@Html.TextBoxFor(m => m.PlannedDays, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PlannedDays)
                            </div>
                            <div class="col-md-4">
                                <span>@Localizer["Hours"]</span>@Html.TextBoxFor(m => m.PlannedHours, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PlannedHours)
                            </div>
                            <div class="col-md-4">
                                <span>@Localizer["Minutes"]</span>@Html.TextBoxFor(m => m.PlannedMinutes, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.PlannedMinutes)
                            </div>
                        </div>
                </div>
                @Html.HiddenFor(m => m.Id)
                <button type="submit" class="btn btn-success">@Localizer["Complete"]</button>
            }
        </div>
    </div>