﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    <strong>@Localizer["Error_Happened"]</strong> @Localizer["Try_Request_Again"]
</div>

