﻿@model TaskManager.ViewModels.TasksTreeViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

    <div class="row">
        <div class="col-md-4">
            <h3>@Localizer["All_Tasks_List"]</h3>
            <div class="well tasks-list">
                @if (Model.Tasks.Any())
                {
                    @Html.Partial("TreeList", Model)
                }
                else {
                    <span>@Localizer["No_One_Task"]</span>
                }           
            </div>
            @Html.ActionLink(@Localizer["Add_Task"].Value, "Create", "Home", null, new { @class = "btn btn-primary" })
        </div>
    </div>
