﻿@model TaskManager.ViewModels.TasksViewModel
@using TaskManager.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var totalPlannedTaskTime = Model.TotalChildTasksPlannedTime + Model.TargetTask.PlannedPerformanceTime;
    var totalActualTaskTime = Model.TotalChildTasksActualTime + Model.TargetTask.ActualPerformanceTime;
}

    <div class="row">
        <div class="col-md-4">
            <h3>@Localizer["All_Tasks_List"]</h3>
            <div class="well tasks-list">
                @if (Model.AllTasks.Any())
                {
                    @Html.Partial("TreeList", new TasksTreeViewModel { Tasks = Model.AllTasks })
                }
                else
                {
                    <span>@Localizer["No_One_Task"]</span>
                } 
            </div>
            @Html.ActionLink(@Localizer["Add_Task"].Value, "Create", "Home", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-8">
            <h3>@Localizer["Task_Info"]</h3>
            @using (Html.BeginForm(null, null, null, FormMethod.Get, null, new { @class = "well" }))
            {
                <div class="form-group">
                    <label>@Localizer["Name"]</label>
                    @Html.DisplayFor(m => m.TargetTask.Name)
                </div>
                <div class="form-group">
                    <label>@Localizer["Description"]</label>
                    @Model.TargetTask.Description
                </div>

                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                        @Localizer["Actual_Time"]
                        @totalActualTaskTime.Value.Days @Localizer["dd"]
                        @totalActualTaskTime.Value.Hours @Localizer["hh"]
                        @totalActualTaskTime.Value.Minutes @Localizer["mm"]
                        @totalActualTaskTime.Value.Seconds @Localizer["ss"]
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                @Localizer["SubTasks_Actual_Time"]
                                @Model.TotalChildTasksActualTime.Value.Days @Localizer["dd"]
                                @Model.TotalChildTasksActualTime.Value.Hours @Localizer["hh"]
                                @Model.TotalChildTasksActualTime.Value.Minutes @Localizer["mm"]
                                @Model.TotalChildTasksActualTime.Value.Seconds @Localizer["ss"]
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                @Localizer["Only_Task_Actual_Time"]
                                @Model.TargetTask.ActualPerformanceTime.Days @Localizer["dd"]
                                @Model.TargetTask.ActualPerformanceTime.Hours @Localizer["hh"]
                                @Model.TargetTask.ActualPerformanceTime.Minutes @Localizer["mm"]
                                @Model.TargetTask.ActualPerformanceTime.Seconds @Localizer["ss"]
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                        @Localizer["Planned_Time"]
                        @totalPlannedTaskTime.Value.Days @Localizer["dd"]
                        @totalPlannedTaskTime.Value.Hours @Localizer["hh"]
                        @totalPlannedTaskTime.Value.Minutes @Localizer["mm"]
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                @Localizer["SubTasks_Planned_Time"]
                                @Model.TotalChildTasksPlannedTime.Value.Days @Localizer["dd"]
                                @Model.TotalChildTasksPlannedTime.Value.Hours @Localizer["hh"]
                                @Model.TotalChildTasksPlannedTime.Value.Minutes @Localizer["mm"]
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                @Localizer["Плановая трудоёмкость задачи, не включая подзадачи:"]
                                @Model.TargetTask.PlannedPerformanceTime.Days @Localizer["dd"]
                                @Model.TargetTask.PlannedPerformanceTime.Hours @Localizer["hh"]
                                @Model.TargetTask.PlannedPerformanceTime.Minutes @Localizer["mm"]
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>@Localizer["Registration_Date"]</label>
                    @Model.TargetTask.RegistrationDate.ToShortDateString()
                </div>
                <div class="form-group">
                    <label>@Localizer["Registration_Time"]</label>
                    @Model.TargetTask.RegistrationDate.ToShortTimeString()
                </div>
                <div class="form-group">
                    <label>@Localizer["Performers_List"]</label>
                    @Html.DisplayFor(m => m.TargetTask.Performers)
                </div>
                <div class="form-group">
                    <label>@Localizer["Status"]</label>
                    @Html.DisplayFor(m => m.TargetTask.TaskStatus)
                </div>
                @if (Model.TargetTask.CompletedDate != null)
                {
                    <div class="form-group">
                        <label>@Localizer["Registration_Date"]</label>
                        @Model.TargetTask.CompletedDate.Value.ToShortDateString()
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Completed_Time"]</label>
                        @Model.TargetTask.CompletedDate.Value.ToShortTimeString()
                    </div>
                }
                <div class="task-btns">
                    @if (Model.TargetTask.TaskStatus != TaskManager.Models.TaskStatus.Completed)
                {
                        @Html.ActionLink(@Localizer["Add_SubTask"].Value, "Create", new { taskId = Model.TargetTask.Id }, new { @class = "btn btn-primary" })
                    }


                    @if (Model.TargetTask.TaskStatus != TaskManager.Models.TaskStatus.CarriedOut && Model.TargetTask.TaskStatus != TaskManager.Models.TaskStatus.Completed)
                {
                        @Html.ActionLink(@Localizer["Start_Task"].Value, "StartTask", new { taskId = Model.TargetTask.Id }, new { @class = "btn btn-default" })
                    }

                    @if (Model.TargetTask.TaskStatus == TaskManager.Models.TaskStatus.CarriedOut)
                {
                        @Html.ActionLink(@Localizer["Pause_Task"].Value, "PauseTask", new { taskId = Model.TargetTask.Id }, new { @class = "btn btn-default" })
                    }

                    @if (ViewBag.CanCompleteTask == true && Model.TargetTask.TaskStatus!= TaskManager.Models.TaskStatus.Completed)
                {
                        @Html.ActionLink(@Localizer["Complete_Task"].Value, "CompleteTask", new { taskId = Model.TargetTask.Id }, new { @class = "btn btn-default" })
                    }

                        @Html.ActionLink(@Localizer["Edit_Task"].Value, "Edit", new { taskId = Model.TargetTask.Id }, new { @class = "btn btn-success" })
                    @if (!Model.AllTasks.Any(t => t.ParentId == Model.TargetTask.Id))
                {
                        @Html.ActionLink(@Localizer["Delete_Task"].Value, "Delete", new { taskId = Model.TargetTask.Id }, new { @class = "btn btn-danger" })
                    }
                </div>
            }

            @if (Model.AllTasks.Where(x => x.ParentId == Model.TargetTask.Id).Any())
            {
                <div>
                    <h3>@Localizer["SubTasks_List"]</h3>
                    <ul class="list-group">
                        @foreach (var subtask in Model.AllTasks)
                {
                    if (subtask.ParentId == Model.TargetTask.Id)
                    {
                                <li class="list-group-item">@Html.ActionLink(subtask.Name, "Info", new { taskId = subtask.Id })</li>
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    </div>