﻿@model TaskManager.ViewModels.TasksTreeViewModel

@if (Model.Tasks.Where(x => x.ParentId == Model.Seed).Any())
{
    <ul>
        @foreach (var node in Model.Tasks)
        {
            if (node.ParentId == Model.Seed)
            {
                <li>@Html.ActionLink(node.Name, "Info", new { taskId = node.Id })</li>
                TaskManager.ViewModels.TasksTreeViewModel inner = new TaskManager.ViewModels.TasksTreeViewModel
                {
                    Seed = node.Id,
                    Tasks = Model.Tasks
                };
                @Html.Partial("TreeList", inner)
            }
        }
    </ul>
}