﻿.dropdown{
    margin-bottom: 15px;
}

.task-btns.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.tasks-list {
    overflow-x: auto;
}

.well {
    white-space: normal;
    word-break: break-all;
}

#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 200px;
}

label, span, h1, h2, h3, h4, h5, h6, p {
    text-shadow: 1px 1px 3px #e8e8e8;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}